<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Section 1</title>
</head>
<body class="ibm-plex-sans-thai-regular">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-sm-12 col-md-8 col-lg-6">
                <div class="card">
                    <div class="card-title">
                        <h4 class="text-center mt-3 mb-0">Section 1</h4>
                    </div>
                    <div class="card-body">
                          <div class="row justify-content-center align-items-center mb-3">
                            <div class="col-sm-12 col-md-8 col-lg-8">
                                <h6 class="text-muted text-sm-center text-md-start text-lg-start">Loged as <span
                                        id="txUsername"></span></h6>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4">
                                <button id="BtnSub" style="display: none;" class="btn btn-primary w-100">
                                    <i class="bi bi-bell"></i> Subscribe </button>
                                <span id="subStatus" style="display: none;"
                                    class="text-primary fw-bold text-sm-center text-md-end text-lg-end "></span>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <a href="home">กลับ</a>
                                <hr>
                                <h3><a href="sec1_sub">Section 1 Sub page</a></h3>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script type="module" src="assets/js/app.js" defer></script>


