<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Subscription</title>
</head>

<body class="ibm-plex-sans-thai-regular">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-sm-12 col-md-8 col-lg-8">
                <div class="card">
                    <div class="card-title">
                        <h4 class="text-center mt-3 mb-0">Manage Subscription</h4>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-center align-items-center mb-3">
                            <div class="col-sm-12 col-md-8 col-lg-8">
                                <h6 class="text-muted text-sm-center text-md-start text-lg-start">Loged as <span
                                        id="txUsername"></span></h6>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4">
                                <button id="BtnSub" style="display: none;" class="btn btn-primary w-100">
                                    <i class="bi bi-bell"></i> Subscribe </button>
                                <span id="subStatus" style="display: none;"
                                    class="text-primary fw-bold text-sm-center text-md-end text-lg-end "></span>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="table-responsive">
                                            <table class="table table-sm table-bordered table">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Device name</th>
                                                        <th>Ip Address</th>
                                                        <th>Create at</th>
                                                        <th class="text-center">Manage</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="subTable" class="align-middle"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="col-12">
                                    <a href="settings" class="btn btn-warning btn-lg w-100"> <i
                                            class="bi bi-arrow-left-circle-fill"></i> Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script type="module" src="assets/js/app.js" defer></script>
<script type="module" src="assets/js/subList.js" defer></script>