<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body class="ibm-plex-sans-thai-regular">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-sm-12 col-md-8 col-lg-8">
                <div class="card">

                    <div class="card-title">
                        <h4 class="text-center mt-3 mb-0">Home</h4>
                    </div>
                    <div class="card-body">

                        <div class="row justify-content-center align-items-center mb-3">
                            <div class="col-sm-12 col-md-8 col-lg-8">
                                <h6 class="text-muted text-sm-center text-md-start text-lg-start">Loged as <span
                                        id="txUsername"></span></h6>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4">
                                <button id="BtnSub" style="display: none;" class="btn btn-primary w-100">
                                    <i class="bi bi-bell"></i> Subscribe </button>
                                <span id="subStatus" style="display: none;"
                                    class="text-primary fw-bold text-sm-center text-md-end text-lg-end "></span>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div style="grid-template-columns: 1fr 1fr 1fr;"
                                            class="d-grid gap-sm-0 gap-md-2 gap-lg-2">
                                            <div class="p-1 text-center">
                                                <a href="sec1" class="btn btn-outline-secondary w-100 p-3">
                                                    <h1 class="bi bi-1-circle m-0 p-0"></h1>
                                                </a>
                                            </div>
                                            <div class="p-1 text-center">
                                                <a href="sec2" class="btn btn-outline-secondary w-100 p-3">
                                                    <h1 class="bi bi-2-circle m-0 p-0"></h1>
                                                </a>
                                            </div>
                                            <div class="p-1 text-center">
                                                <a href="sec3" class="btn btn-outline-secondary w-100 p-3">
                                                    <h1 class="bi bi-3-circle m-0 p-0"></h1>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a href="settings" class="btn btn-primary w-100">Settings</a>
                                <!-- <a href="auth/logout" class="btn btn-danger w-100">Logout</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
